sonar.jdbc.username={{ sonar_db_user.stdout }}
sonar.jdbc.password={{ sonar_db_pass.stdout }}
sonar.jdbc.url=jdbc:postgresql://localhost/{{ sonar_db_name }}
sonar.web.host=0.0.0.0
sonar.web.port=9000
